@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

html, body{
	height: 100%;
}
html{
	background-color: #fcfcfc;
	background-attachment: fixed;
	background-position: top;
	background-size: 100%;
	background-repeat: no-repeat;
}
p, ul, ol, #main p a:not(.TagPost), .Nav a, 
h1, h2, h3, h4, h5, h6, html, blockquote,
code, table, table tr:nth-child(even){
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}
body{
	margin: 0;
	font-size: 100%;
	font-family: helvetica, sans-serif;
}
#main{
	overflow-y: hidden;
	margin-top: 80px;
	margin-bottom: 60px;
	margin-left: 15%;
	min-height: 100%;
	max-width: 70%;
}
h1{
	margin-top: 0px;
	font-weight: normal;
	font-size: 3em;
	font-family: 'Oswald', sans-serif;
}
h2{
	margin-top: 1em;
	font-weight: normal;
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
}
h3{
	margin-top: 1em;
	font-weight: normal;
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
}
p{
	margin-top: 1.3em;
	text-align: justify;
	font-weight: 300;
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;
	line-height: 1.4;
}
strong{
	font-weight: bold;
}
s{
	font-weight: lighter;
	font-family: 'Kalam', cursive;
}
#main p > span{
	font-weight: lighter;
	font-family: 'Kalam', cursive;
}
blockquote{
	margin-top: 1.3em;
	margin-right: 0;
	margin-left: 0;
	padding-left: 25px;
	border-left: 3px solid #000;
	color: #000;
	font-family: 'Droid Sans', sans-serif;
}
blockquote p{
	font-size: 1.1em;
}
/* Loaders */
.LoadingFondo{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999;
	width: 100%;
	height: 100%;
	background: #000;
}
.LoaderGif{
	position: absolute;
	top: 50%;
	left:50%;
	z-index: 9999999999999;
}
#LGMain{
	margin-top: -100px;
	margin-left: -100px;
	width: 200px;
	height: 200px;
	background: url('../../Multimedia/Loading/Pluma.gif') no-repeat center;
	background-size: contain;
}
#LGGeneral{
	margin-top: -60px;
	margin-left: -60px;
	width: 120px;
	height: 120px;
	background: url('../../Multimedia/Loading/General.gif') no-repeat center;
	background-size: cover;
}
#LGSite{
	margin-top: -100px;
	margin-left: -100px;
	width: 200px;
	height: 200px;
	background: url('../../Multimedia/Loading/Lobulos.gif') no-repeat center;
	background-size: cover;
}
#LGPoli{
	margin-top: -150px;
	margin-left: -150px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background: url('../../Multimedia/Loading/Poligono.gif') no-repeat center;
	background-size: cover;
}
/* Fin loaders */

/* Links */
#main p a:not(.TagPost){
	color: #000;
	text-decoration: none;
	font-family: 'Kalam', cursive;
}
#main p a:not(.TagPost):after{
	font-family: "Font Awesome 5 Free";
	content: "\f35d";
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	margin-left: 0.25em;
    font-size: .7em;
    font-weight: 900;
}
#main p a:not(.TagPost):hover{
	text-decoration: underline;
}
#main p a[href$=".jpg"]:after,
#main p a[href$=".png"]:after,
#main p a[href$=".gif"]:after{
	content: none;
}
/*link de email-correo */
span.secOflMail:after{
	font-family: "Font Awesome 5 Free";
	content: "\f3ed";
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	margin-left: 0.25em;
    font-size: .7em;
    font-weight: 900;
}
/* Fin links */

/* Imagenes */
#main img{
	max-width: 80%;
	display: flex;
	margin: 0 auto;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
#main img:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	filter: grayscale(0%);
}
#main a[data-lightbox]{
	text-align: center;
}
#main a[data-lightbox] picture{
	display: block;
	width: 100%;
}
/* fin imagenes */

/* Tablas */
table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
    background-color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
}
table td:first-child{
	width: 35%;
}
table td, table th {
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #dddddd;
}
/* Fin tablas */

/* Listas */
#main ol, #main ul{
	max-width: 80%;
	word-break: normal;
	font-weight: lighter;
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;
}
#main ul{
	list-style: square;
}
#main ul a:not(.TagPost), #main ol a:not(.TagPost){
	color: #000;
	text-decoration: none;
	font-family: 'Kalam', cursive;
}
#main ul a:not(.TagPost):after, #main ol a:not(.TagPost):after{
	font-family: "Font Awesome 5 Free";
	content: "\f35d";
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	margin-left: 0.25em;
    font-size: .7em;
    font-weight: 900;
}
/* Fin listas */

/* Listas de contenido */
#main #ListaContenido{
	padding-left: 20px;
	list-style-type: lower-greek;
	list-style-position: inside;
	line-height: 1.4em;
}
#main #ListaContenido li{
	cursor: pointer;
}
#ListaContenido li::after {
    font-family: "Font Awesome 5 Free";
    content: "\f3be";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-left: 0.25em;
    font-size: .7em;
    font-weight: 900;
}
/* Fin listas de contenido */

/* Lista de problemas, topicos ... */
#main #PostsList, #main .ListaTags{
	padding-left: 0px;
	max-width: 100%;
	list-style-type: none;
	font-size: 1em;
	line-height: normal;
}
#main .ListaTags{
	padding-left: 30px;
}
#main #PostsList li, #main .ListaTags li{
	padding-bottom: 20px;
	border-bottom: 1px solid #969696;
}
#main #PostsList h2, #main .ListaTags h3{
	margin-bottom: 10px;
}
#main #PostsList h2 a, #main .ListaTags h3 a{
	color: #464646;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}
#main #PostsList h2 a:after, #main .ListaTags h3 a:after{
	content: none;
}
#main #PostsList p{
	margin-top: 20px;
	font-size: 1em;
}
#main #PostsList small, #main .ListaTags small{
	display: block;
	margin: 0;
	color: #868686;
	font-weight: normal;
}
/* Fin de lista de problemas, topicos ... */

/* Lista de definiciones */
dl {
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    padding-top: 15px;
	width: 80%;
    font-size: 1.2em;
    font-family: 'Roboto Condensed',sans-serif;
}
dl dt {
    position: relative;
    float: left;
    clear: both;
    padding: 3px 2% 15px 0;
    width: 33%;
    font-weight: bold;
    font-style: italic;
    font-size: .9em;
}
dl dd {
    float: right;
    margin: 0;
    padding: 3px 0 15px 3%;
    width: 62%;
}
dl:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35%;
    width: 1px;
    border-left: 1px solid #999;
    content: "";
}
dl dt:before {
    position: absolute;
    top: -5px;
    right: -15px;
    width: 30px;
    border-top: 1px solid #999;
    content: "";
}
dl dt:after {
    position: absolute;
    top: -8px;
    right: -4px;
    width: 5px;
    height: 5px;
    border: 1px solid #999;
    border-radius: 6px;
    background: #333;
    content: "";
}
/* Fin de lista de definiciones */

/* Comentarios FB */
#ComentAct{
	margin-top: 50px;
	color: #616161;
	cursor: pointer;
}
.CajaComent{
	display: none;
	margin-top: 20px;
	width: 100%;
}
/* Fin comentarios FB */
video{
	max-width: 550px;
}
/* Navegaci贸n de temas */
.Nav{
	margin-top: 10px;
	padding-top: 20px;
	width: 100%;
	border-top: 2px solid rgba(0,0,0,0);
	color: #585858;
	text-align: center;
	font-size: 1.1em;
	font-family: 'Kalam';
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.Nav:hover{
	border-top: 2px solid #585858;
}
.Nav a{
	background: none;
	color: #585858;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
.Nav a:hover{
	color: #000;
}
.Nav a:first-child:hover{
	padding-right: 10px;
}
.Nav a:last-child:hover{
	padding-left: 10px;
}
/* Fin navegaci贸n de temas */

/* Tags */
.TagPost{
	display: inline-block;
	margin: 3px 2px;
	padding: 0 4px;
	padding: 0 5px;
	border: 1px solid #96989A;
	border-radius: 3px;
	background: none;
	background-color: #f8f8f8;
	color: #96989A;
	text-decoration: none;
	font-size: 1em;
	font-family: 'Kalam';
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.TagPost:hover{
	border: 1px solid #96989A;
	background-color: #96989A;
	color: #f8f8f8;
	text-decoration: none;
}
#main .TagPost:after{
	content: none;
}
#ListaTags{
	list-style: square;
}
#ListaTags li a{
	color: #383838;
	line-height: 1.5em;
}
.ProblemaTag{
	font-family: 'Roboto', sans-serif;
}
.ProblemaTag:after{
	background-image: none;
}
/* Fin tags */
.container-tab1{
	width: auto;
}
.ace_editor {
    position: relative;
    margin: 20px 0;
    width: 100%;
}
.Aparece{
	/* Para animar algun elemento deseado */
	opacity: 0;
}
.ancla:before {
	display: block;
	visibility: hidden;
	margin-top: -65px;
	height: 65px;
	content: " ";
}
.VolverA{
	position: fixed;
	right: 20px;
	bottom: 30px;
	z-index: 100000;
	display: none;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background: rgba(255, 255, 255, .9);
	background-image: url('../../Multimedia/Iconos/Arriba.png');
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}
.footnotes p, .footnotes{
	font-size: 0.9em;
}
code{ 
	display: inline-block;
	margin: 0px 2px;
	padding: 0 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
	background-color: #f8f8f8;
	font-size: 1em;
	font-family: 'Inconsolata', 'Consolas', monospace;
}
#main .BtnDis{
	cursor: default;
}
/* --- Bloque de c贸digo de Karel --- */
.karelBlock{
    margin-bottom: 45px;
}
.karelBlock pre{
	margin:  0;
}
.karelLabel {
    width: 60px;
    position: relative;
    display: inline-block;
    background: #131313;
    text-align: center;
    padding: 5px 0;
    font-size: .8em;
    color: #ccc;
    margin: 0;
    box-sizing: border-box;
    float: right;
    cursor: pointer;
}
.karelBlock .karelj{
	display: none;
}
.karelLabelSelected{
	background: #272822;
}
/* --- Fin Bloque de c贸digo de Karel --- */
/* Falta por configurar el DarkMode */
kbd{
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0;
}
/* ------ Dark mode ------ */
#main .DrkTextB1:not(.TagPost){
	color: #fff;
}
#main .DrkTextB2:not(.TagPost){
	color: #ccc;
}
#main #PostsList .DrkTextB2:not(.TagPost){
	color: #ccc;
}
#main .DrkTextB3:not(.TagPost){
	color: #eee;
}
#main .DrkTextO3:not(.TagPost){
	color: #7d7c78;
}
#main .DrkTextO4:not(.TagPost){
	color: #555;
}
#main .DrkTextO5:not(.TagPost){
	color: #96989A;
}
#main .DrkBgB1{
	background-color: #fff;
}
#main .DrkBgO0{
	background-color: #000;
}
#main .DrkBgO1{
	background-color: #131313;
}
.DrkBgO1{
	background-color: #131313;
}
#main .DrkBgO2{
	background-color: #333;
}
#main .DrkBgO4{
	background-color: #555;
}
#main .DrkBordB1{
	border-color: #fff;
}
#main .DrkBordO3{
	border-color: #7d7c78;
}
#main .DrkBtnAct{
	color: #eee;
}
#main .UKLISelectDrk{
    color: #fff;
    font-size: 1.1em;
}
#main #LIAlters .DrkBtnHov:hover, #main #SUAlters .DrkBtnHov:hover{
	background: #333;
	color: #fff;
}
/* ------ Fin dark mode ------ */

/* ------ Celular ------- */
@media only screen and (max-width: 600px){
	#main{
		margin-top: 60px;
		margin-bottom: 20px;
		margin-left: 7.5%;
		max-width: 85%;
		width: 85%;
	}
	h1{
		font-size: 2em;
	}
	h2{
		font-size: 1.5em;
	}
	h3{
		font-size: 1.1em;
	}
	p, ul li, ol, dl, blockquote, blockquote p, #main #ListaContenido, #main ul, #main ol{
		font-size: 0.9em;
	}
	/*blockquote p, #main #ListaContenido, #main ul, #main ol{
		font-size: 1em;
	}*/
	video{
		width: 100%;
	}
	.VolverA{
		bottom: 20px;
		width: 20px;
		height: 20px;
	}
	.TagPost{
		font-size: .8em;
	}
	.ancla:before {
		margin-top: -52px;
		height: 52px;
	}
	.karelBlock{
		margin-bottom: 40px;
	}
	.karelLabel{
		width: 90px;
	}
	.Nav{
		font-size: .8em;
	}
	#RegisterForm, #RegisterForm label, #RegisterForm input, #RegisterForm select{
		font-size: 0.9em;
	}
}