#CFGraT, #CFGraP, #CFErrT, #CFErrP, #CFOtro, #CFOtroSad{
	display: none;
}
#ContactForm{
	width: 100%;
}
#ContactForm .FElem, #ContactForm textarea{
	margin-bottom: 10px;
	padding: 10px 5px;
	width: 100%;
	border: none;
	border-top: 1px solid #D2D3D5;
	border-bottom: 1px solid #D2D3D5;
	font-size: 1em;
	font-family: 'Kalam', cursive;
	-webkit-appearance: none; -moz-appearance: none;
}
#ContactForm textarea{
	margin-bottom: 20px;
	height: 150px;
	font-size: 1em;
	resize: none;
}
#ContactForm .Enviar{
	box-sizing: border-box;
	margin: 0 auto;
	display: block;
	padding: 7px 0;
	width: 150px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	font-size: 1em;
	font-family: 'Kalam', cursive;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	-webkit-appearance: none; -moz-appearance: none;
}
#ContactForm .Enviar:hover{
	background-color: #000;
	color: #f8f8f8;
}

#ContactForm .DrkTextB3{
	color: #eee;
}
#ContactForm .DrkBgO2{
	background-color: #333;
}
#ContactForm .DrkBordO3{
	border-color: #7d7c78;
}